.main{
    width: 50%;
    margin: 100px auto;
    background: orangered;
    text-align: left;
    padding: 10px;
}

.loginLink{
    background-color: orangered;
    padding: 10px;
}

.registerLink{
    background-color: dodgerblue;
    padding: 10px;
}